:root {
    --color-primary: #A3C5F1;
    --color-dark: #1E2B40;
}

body {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}
html{
    scroll-behavior: smooth;
}
* {
    box-sizing: border-box;
}

.browse-header {
    margin-left: 20px;
}

.card {
    border: 2px solid var(--color-dark);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
    font-size: 24px;
    text-decoration: underline;
}

.btn{
    background-color: #4B6387;
    border: 1px solid var(--color-dark);
    color: #FFFFFF;
    padding: 0.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
}

.btn:hover {
    background-color: var(--color-primary);
    color: #212529;
}

.btn-link {
    color: #fff;
    text-decoration: none;
}

.doctor-section{
    padding: 1rem;
}

.navbar{
    background-color: var(--color-primary);
    font-size: 18px;
}
.border-container{
    border: 2px solid #4B6387;
    border-radius: 0.5rem;
    padding: 30px;
}
footer{
    background-color: var(--color-primary);
}

.modal-container {
    width: 30%;
    padding: 20px;
    padding-bottom: 40px;
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    z-index: 10;

    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.modal-title {
    margin-top: 30px;
    text-align: center;
}

.modal-ok {
    margin-top: 20px;
}

.modal-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

.modal--success {
    background-color: #2abd78;
}

.modal--fail {
    background-color: #c74933;
}

.err {
    visibility: hidden;
    color: #c74933
}
#calendar {
    max-width: 60%;
    margin: 30px auto;
}

.fc-event-title button {
    margin-left: 8px;
}
#editFormContainer {
    display: none;
    margin-top: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    max-width: 600px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    margin-left: auto;
    margin-right: auto;
}